    /*Main body sizes and padding*/
    
    body {
      padding: 30px;
      max-width: 1140px;
      margin-left: auto;
      margin-right: auto;
      
    }
    /*some small padding on the logo image*/
    
    #tempLogo {
      max-width: 200px;
      max-height: 200px;
    }
    /*
    .linkOne {
        font-weight: bold;
    }
    */
    
    #placeHolder {
      border: 1px black solid;
      margin-top: 45%;
    }
.items  {

      font-weight:bold;
      color:white;
  
  
}
    
    .nav {
      padding-right: 95px;
    }
    
    #placeholderMap {
      padding-bottom: 20px;
      border: 1px solid;
      max-width: 400px;
    }
    /*.powr-weather{*/
    /*    max-width:100px;*/
    /*    max-height: 500px;*/
    /*}*/
    /*map{*/
    /*    height: 500px;*/
    /*    width: 400px;*/
    /*}*/
    /***********Styling for the map**********/
    
    #map {
      height: 50%;
      width: 50%;
      margin-right: 15px;
      margin-top: 20px;
    }
    
    .controls {
      margin-top: 10px;
      border: 1px solid transparent;
      border-radius: 2px 0 0 2px;
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      height: 32px;
      outline: none;
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    }
    
    #pac-input {
      background-color: #fff;
      font-family: Roboto;
      font-size: 15px;
      font-weight: 300;
      margin-left: 12px;
      padding: 0 8px 0 8px;
      text-overflow: ellipsis;
      width: 200px;
    }
    
    #pac-input:focus {
      border-color: #4d90fe;
    }
    
    .pac-container {
      font-family: Roboto;
    }
    
    #type-selector {
      color: #fff;
      background-color: #4d90fe;
      padding: 5px 11px 0px 11px;
    }
    
    #type-selector label {
      font-family: Roboto;
      font-size: 13px;
      font-weight: 300;
    }
    
    #target {
      width: 345px;
    }
    
    .col-sm-3 {
      background-color: rgba(0, 0, 255, 0.5);
      float: left;
      clear: none;
      height: 530px;
      width: 200px;
    }
    
    .col-md-3 {
      width: 57%;
      height: 100%;
      background-image: url('img/templebar.jpg');
    }
    
    .col-md-12{
     background-color: #ABDCD6;
    width: 92.1%;
    }
    
   /* .row-sm-1{
       height: 100px;
       background-color: #ABDCD6;
    }
    
    .row-sm-2{
       height: 100px;
       background-color: #EB593C;
    }
    
    .row-sm-3{
       height: 100px;
       background-color: #333333;
    }
    
    .row-sm-4{
       height: 100px;
       background-color: #FFFCEC;
    }
    
    .row-sm-5{
       height: 100px;
       background-color: #00ACE9;
    }*/
    
    .col-sm-4 {
      background-color: rgba(0, 0, 255, 0.5);
      clear: none;
      height: 530px;
      width: 200px;
    }
    

      #type-selector label {
        font-family: Roboto;
        font-size: 13px;
        font-weight: 300;
      }
      #target {
        width: 345px;
      }
      
/******End Map Styling******/

 /* carousel styling */
    .carousel-inner > .item > img,
    .carousel-inner > .item > a > img {
        width: 50%;
        margin: auto;
    }
/* End carousel styling */
    
