    /*Main body sizes and padding*/
    
    body {
      padding: 30px;
      max-width: 1140px;
      margin-left: auto;
      margin-right: auto;
      /*https://newevolutiondesigns.com/images/freebies/city-wallpaper-18.jpg*/
      background-image: url("../img/city-wallpaper-18.jpg");
      background-attachment: fixed;
    }
    .coolFont{
      font: 18px/24px , Georgia, Times, Serif;
      text-align: justify;
      color: black;
      text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;

    }
    #commentForm{
      padding:10px;
      margin: 0 auto;
    }
    
    /*http://www.cssmatic.com/box-shadow*/
    /*really helpful tool for styling*/
    .box{
        -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.58);
        -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.58);
        box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.58);
        /*http://www.pixeden.com/media/k2/galleries/165/003-subtle-light-pattern-background-texture-vol5.jpg*/
        background-image:url("../img/lightBground.jpg");
      }
    .bradius{
        border-radius: 5px 5px 5px 5px;
        -moz-border-radius: 10px 10px 10px 10px;
        -webkit-border-radius: 10px 10px 10px 10px;
        border: 3px solid #000000;
        padding: 5px;
    }
      
    #weatherright{
      background-color: rgba(0, 0, 255, 0.5);
      clear: none;
      height: 530px;
    
      float:right;
    }
    
    
    #tempLogo {
      max-width: 200px;
      max-height: 200px;
    }
    
    #placeHolder {
      border: 1px black solid;
      margin-top: 45%;
    }
.items {

      font-weight:bold;
      color:red;
 
  
}
.bgImg{
      background-image: url('../img/cityScape.jpg');
      background-repeat: no-repeat;
      background-position: center;
      max-height: 800;
      max-width: 600;
      border-radius: 80px;
    }
    
    .nav {
      padding-right: 95px;
    }
    
    #placeholderMap {
      padding-bottom: 20px;
      border: 1px solid;
      max-width: 400px;
    }
   
    #map {
      height: 50%;
      width: 50%;
      margin-right: 15px;
      margin-top: 20px;
    }
    
    .controls {
      margin-top: 10px;
      border: 1px solid transparent;
      border-radius: 2px 0 0 2px;
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      height: 32px;
      outline: none;
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    }
    
    #pac-input {
      background-color: #fff;
      font-family: Roboto;
      font-size: 15px;
      font-weight: 300;
      margin-left: 12px;
      padding: 0 8px 0 8px;
      text-overflow: ellipsis;
      width: 200px;
    }
    
    #pac-input:focus {
      border-color: #4d90fe;
    }
    
    .pac-container {
      font-family: Roboto;
    }
    
    #type-selector {
      color: #fff;
      background-color: #4d90fe;
      padding: 5px 11px 0px 11px;
    }
    
    #type-selector label {
      font-family: Roboto;
      font-size: 13px;
      font-weight: 300;
    }
    
    #target {
      width: 345px;
    }
    
 

      #type-selector label {
        font-family: Roboto;
        font-size: 13px;
        font-weight: 300;
      }
      #target {
        width: 345px;
      }
      
/******End Map Styling******/

 /* carousel styling */
    .carousel-inner > .item > img,
    .carousel-inner > .item > a > img {
        width: 50%;
        margin: auto;
    }
/* End carousel styling */
    
