 <!--styling-->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="../css/style.css" type="text/css" />
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script type = "text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<!--styling-->
    <body>
         <div class  = "container" id="backgroundImage">
        <div class="row">
            <h1 class = "text-center" id="mainh1">Social Hotel</h1>
        <div class = "col-md-4">
        </div>
        <div class = "col-md-4" id="backgroundImage">
            <h1>Login</h1> 
                <form action="login.php" method="post"> 
                    Username:<br /> 
                    <input type="text" name="username"/> 
                    <br /><br /> 
                    Password:<br /> 
                    <input type="password" name="password" value="" /> 
                    <br /><br /> 
                    <input type="submit" value="Login" /> 
                </form> <br/>
                <button class="regLogButton"><a href="../scripts/register.php" id="reg">Register</a></button>
                <br/><br/><br/><br/><br/><br/>
        </div>
        
        <div class = "col-md-4">
            
        </div>
        </div>
        </div>
        
    </body>
    
    <footer class = "footer text-center">&copy; Group C NCI 2016</footer>
   